* {
    font-family: Palatino, "Palatino Linotype", serif;
}

#toys {
    -webkit-transition:1s;
}

.move-left {
    /*left:-600px;
    position: relative; */
    /* margin-left: 600px; */
 }

 .shrink {
     width: 0;
 }

#headerDiv {
    min-height: 100vh;
}

#desc {
    width: 45%;
}

button {
    display: inline-block;
    border-radius: 8px;
    background-color: #D5CFEE;
    border: 1px solid #575656;
    padding: 10px 24px;
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
    color: black;
}

#exploreBtn {
    display: block;
}

button:hover {
    color: white;
    opacity: 1.0;
}

#initialGraph {
    width: 70%;
}

#sortedDiv {
    width: 100%;
}

div.tooltip {
    position: absolute;
    text-align: center;
    display: inline-block;
    padding: 5px;
    font: 12px sans-serif;
    background: white;
    border: 1px solid black;
    border-radius: 8px;
    pointer-events: none;
}

rect, image {
    cursor: pointer;
}

table {
    border-spacing: 1px;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}
tr {
    margin: 0;
    padding: 0;
}
td {
    margin: 0;
    padding: 0;
    font-family: "impact";
    font-size: 16px;
    text-align: center;
    z-index: 1;
    /* border: 1px solid black; */
    /* width: 29px; */
}
